body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
}

.container{
	width: 300px;
	height: 200px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	text-align: center;
}

#colorDisplay{
	width: 75px;
	height: 65px;
	background-color: #FFFFF;
	margin: 0 auto 20px;
	margin-top: 15px;
}
